<h2><%= @cocktail.name  %></h2>
<p>This is how you mix it:</p>
<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item">
      <%= dose.description %>
      <%= link_to "Remove", cocktail_dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
  <% end %>
</ul>

<%= link_to "Back to all cocktails", cocktails_path  %> ||
<%= link_to "Add new dose", new_cocktail_dose_path(@cocktail)   %>
